<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/slate/bootstrap.min.css">
      <title>Kyle's Test</title>
  </head>
  <body>
      {{> header}}
      <p>text bit here</p>
  {{> footer}}
</body>
</html>
